<div class="container">
    <h1>Welcome</h1>
    <ul>
      The owners are:
        <% @owners.each do |owner| %>
        <li>
            <p><%= owner.full_name %></p>
        </li>
        <% end %>
    </ul>
</div>