<% content_for :title, @animal.name %>

<div class="container">
    <h1>Animal Profile</h1>
    <p><%= @animal.name %></p>
    <p><%= @animal.type_of_animal %></p>
    <p>Owned by: <%= @animal.owner.full_name %>

</div>
